
#menu .inner {
	background: #4a6f7ec0;
}

/* Banner */

#banner {
    padding: 10em 0 4.75em 0 ;
    background-image: linear-gradient(to top,  rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/leafs.jpg");
    background-position: center center;
    background-size: cover;
}


 /*change ul in skills*/

.wrapper.spotlight:nth-child(2n - 1) .inner {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: left;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 30em;
}

/* triangle  before and after*/ 



.wrapper.spotlight:before, .wrapper.spotlight:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
}

.wrapper:before, .wrapper:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
}
.wrapper.spotlight::before {

    box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
}
    /*wraper*/
    .wrapper {
		background-color: #4a6f7e;
		margin: 6.5em 0;
		position: relative;
	}

		.wrapper:before, .wrapper:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
		}

		.wrapper:before {
			box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
		}

		.wrapper:after {
            box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
            
		}
        .wrapper.style2 {
			background-color: #4a6f7e;
		}

			.wrapper.style2:before, .wrapper.style2:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
			}

			.wrapper.style2:before {
				box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
			}

			.wrapper.style2:after {
				box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
			}

		.wrapper.style3 {
			background-color: #4a6f7e;
		}

			.wrapper.style3:before, .wrapper.style3:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
			}

			.wrapper.style3:before {
                box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
            			}

			.wrapper.style3:after {
                box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
            			}

		.wrapper.style4 {
			background-color: #4a6f7e;
		}

			.wrapper.style4:before, .wrapper.style4:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
			}

			.wrapper.style4:before {
                box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
            			}

			.wrapper.style4:after {
                box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
            			}

		.wrapper.style5 {
			background-color: #4a6f7e;
		}

			.wrapper.style5:before, .wrapper.style5:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234d5060%3B' /%3E%3C/svg%3E");
			}

			.wrapper.style5:before {
				box-shadow: inset 0 -1px 0 0 #7e4a5596, 0 1px 0 0 #7e4a5596;
			}

			.wrapper.style5:after {
				box-shadow: inset 0 -1px 0 0 #7e4a5596, 0 1px 0 0 #7e4a5596;
			}

		.wrapper.style6 {
			background-color: #7e4a55;
		}

			.wrapper.style6:before, .wrapper.style6:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23555867%3B' /%3E%3C/svg%3E");
			}

			.wrapper.style6:before {
				box-shadow: inset 0 -1px 0 0 #7e4a55, 0 1px 0 0 #7e4a55;
			}

			.wrapper.style6:after {
				box-shadow: inset 0 -1px 0 0 #7e4a55, 0 1px 0 0 #7e4a55;
			}

		.wrapper.spotlight {
				background-color: #4a6f7e;
		}

			.wrapper.spotlight:before, .wrapper.spotlight:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234a6f7e%3B' /%3E%3C/svg%3E");
			}

			.wrapper.spotlight:before {
				box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
			}

			.wrapper.spotlight:after {
				box-shadow: inset 0 -1px 0 0 #4a6f7e, 0 1px 0 0 #4a6f7e;
            }

            .wrapper.spotlight.style2 {
				background-color: #ad8ee78c;
			}

				.wrapper.spotlight.style2:before, .wrapper.spotlight.style2:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23e4a1a6d5%3B' /%3E%3C/svg%3E");;
				}

				.wrapper.spotlight.style2:before {
					box-shadow: inset 0 -1px 0 0 #e4a1a6d5, 0 1px 0 0 #e4a1a6d5;
				}

				.wrapper.spotlight.style2:after {
					box-shadow: inset 0 -1px 0 0 #e4a1a6d5, 0 1px 0 0 #e4a1a6d5;
				}

			.wrapper.spotlight.style3 {
				background-color:  #7e4a55;
			}

				.wrapper.spotlight.style3:before, .wrapper.spotlight.style3:after {
					
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%237e4a55%3B' /%3E%3C/svg%3E");
				}

				.wrapper.spotlight.style3:before {
					box-shadow: inset 0 -1px 0 0 #7e4a5596, 0 1px 0 0 #7e4a5596;
				}

				.wrapper.spotlight.style3:after {
					box-shadow: inset 0 -1px 0 0 #7e4a5596, 0 1px 0 0 #7e4a5596;
				}

			.wrapper.spotlight.style4 {
				background-color: #a1606ed5;
			}

				.wrapper.spotlight.style4:before, .wrapper.spotlight.style4:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2339477c%3B' /%3E%3C/svg%3E");
				}

				.wrapper.spotlight.style4:before {
					box-shadow: inset 0 -1px 0 0 #a1606ed5, 0 1px 0 0 #a1606ed5;
				}

				.wrapper.spotlight.style4:after {
					box-shadow: inset 0 -1px 0 0 #a1606ed5, 0 1px 0 0#a1606ed5;
				}

			.wrapper.spotlight.style5 {
				background-color: #a1606ed5;
                 }
				.wrapper.spotlight.style5:before, .wrapper.spotlight.style5:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23324072%3B' /%3E%3C/svg%3E");
				}

				.wrapper.spotlight.style5:before {
					box-shadow: inset 0 -1px 0 0 #324072, 0 1px 0 0 #324072;
				}

				.wrapper.spotlight.style5:after {
					box-shadow: inset 0 -1px 0 0 #324072, 0 1px 0 0 #324072;
				}

			.wrapper.spotlight.style6 {
				background-color: #4a6f7e;
			}

				.wrapper.spotlight.style6:before, .wrapper.spotlight.style6:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232d3a69%3B' /%3E%3C/svg%3E");
				}

				.wrapper.spotlight.style6:before {
					box-shadow: inset 0 -1px 0 0 #2d3a69, 0 1px 0 0 #2d3a69;
				}

				.wrapper.spotlight.style6:after {
					box-shadow: inset 0 -1px 0 0 #2d3a69, 0 1px 0 0 #2d3a69;
				}

/*footer*/

#footer {
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/leafs.jpg");
    background-position: center center;
    background-size: cover;
 
}